<div _ngcontent-mdb-c2="" class="footerArea">
    <div _ngcontent-mdb-c2="" class="container">
        <div _ngcontent-mdb-c2="" id="centerDiv">
            <ul _ngcontent-mdb-c2="" class="centerUL">
                <li _ngcontent-mdb-c2="" class="menuFooter menu1">ทำไมเลือก UFABET</li>
                <li _ngcontent-mdb-c2="" class="menuFooter menu2">เกี่ยวกับเรา</li>
                <li _ngcontent-mdb-c2="" class="menuFooter menu3">ข่าว</li>
                <li _ngcontent-mdb-c2="" class="menuFooter menu4">นโยบายความเป็นส่วนตัว</li>
                <li _ngcontent-mdb-c2="" class="menuFooter menu5">การพนันด้วยความรับผิดชอบ</li>
                <li _ngcontent-mdb-c2="" class="menuFooter menu6">กฏกติกา</li>
                <li _ngcontent-mdb-c2="" class="menuFooter menu7">ช่วยเหลือ</li>
                <li _ngcontent-mdb-c2="" class="menuFooter menu8">ติดต่อเรา</li>
            </ul>
        </div>
    </div>
</div>