
.contentArea{
    border: 1px solid #D10000;
    min-height: 952px;
    margin-top:10px;
}
.click-to-news{
    background-image: url(/assets/images/nav/tab2.png);
    background-size: 100% 60px;
    height: 60px;
    background-repeat: no-repeat;
    color:black !important;
}

.click-to-news:hover{
    cursor: pointer;
}
.area_bottom_menu{
    width: 100%;
    float: left;
    height: auto;
    min-height: 300px;
    border-top: #363636 solid 2px;
    margin-top:15px;
    display: block !important;
}
.home_slide{
    float: left;
    position: relative;
    margin-top: 0px;
    z-index: 1;
    min-height: 150px;
    top: 180px;
}
.home_slide{
    top:unset;
}
.slideshow-container{
    height: 200px !important;
}
.contentHeader{
    background: #D10000;
    color: white;
    padding: 10px;
    font-size: 1.6em;
   
}
.register_area{
    padding-top:30px;
}
.callcenter{
    background-image: url('/assets/images/content/callcenter.jpg');
    width: 100%;
    height: 150px;
    background-size: 100% 100%;
}
.area_bank{
    float: left;
    width: 100%;
    height: auto;
    min-height: 140px;
    background-color: #363636;
}
.img_bank{
    background-image: url('/assets/images/content/banking.png');
    background-repeat: no-repeat;
    height: 100px;
    width: 300px;
    background-size: 100% auto;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contentText{
    color: white;
    font-size: 1.1em;
    padding:10px;
}
.area_text_bank{
    float: left;
    margin-top:30px;
}
.text_bank{
    font-size: 2em;
    color: white;
    float: left;
}
.text_bank2{
    font-size: 1em;
    color: white;
    float: left;
    clear: both;
}

.area_text_des{
    height: auto;
    float: left;
    min-height: 430px;
    background-color: black;
    padding:0 20px 0 20px;
}
.header1{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.header2{
    font-size: 1.5em;
    color: #fff;
    text-align: center;
}
.text_description{
    color: #fff;
    text-align: center;
}
.text_description_green{
    margin-top:15px;
    font-size: 1.5em;
    color:#5DD812;
    text-align: center;
}
.text_description_green2{
    margin-top:48px;
    font-size: 1em;
    color:#5DD812;
    text-align: center;
    font-weight: 100;
    float: left;
}
.area_line{
    float: left;
    width: 100%;
}
.phone_image{
    background-image: url('/assets/images/content/tel.png');
    background-repeat: no-repeat;
    height: 59px;
    width: 35px;
    float: left;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 10px;
}
.line_image{
    background-image: url('/assets/images/content/addfriend.png');
    background-repeat: no-repeat;
    height: 43px;
    width: 169px;
    float: left;
    margin-top: 38px;
    margin-bottom: 20px;
    margin-left:10px;
}

.area_bottom_menu{
    width: 100%;
    float: left;
    height: auto;
    min-height: 300px;
    border-top: #363636 solid 2px;
    margin-top:15px;
}
.text_bottom_menu{
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin-top:0px;
    font-weight: 100;
}



.highlight{
    color:#E8CF01;
}
.indent{
    text-indent: 30px; margin-top: 0.63em
}
.indent2{
    text-indent: 0px; margin-top: 1em
}
.indent3{
    text-indent: 30px; margin-top: 0em
}

.newsArea{
    height: auto;
    margin-top: 10px;
    /* border: 2px solid red; */
    padding: 0px;
    min-height: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left:5px;
    padding-right:5px;
}
.cardNews{
height: 100%;
border: 2px solid #D2AE70;
}
.image-news{
    height: calc( 100% - 70px );
    background-size: cover;
    background-position: center;
}
.text-news{
    padding:10px;
    border-top:1px solid #D2AE70;
    color:white;
    min-height: 50px;
    
}


.home_slide .row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
     margin-right: unset;
     margin-left: unset;
    width: 100%;
}

.slide_and_btn .col-8{
    flex:unset;
    max-width: unset;
}
.slide_and_btn .col-4{
    flex:unset;
    max-width: unset;
    height: 320px;
    
}

.register_button{
    /* background-image: url('/assets/images/content/register.png'); */
    /* background-repeat: no-repeat;
    background-size: contain; */
    height: auto;
    width: 100%;
    margin-top:15px;
    margin-bottom: 15px;
    /* margin-left:10px; */
}
.register_button img{
    height: auto;
    width: 100%;
}
.deposit_button{
    /* background-image: url('/assets/images/content/deposit.png'); */
    /* background-repeat: no-repeat;
    background-size: 100% 100%; */
    height: auto;
    width: 140px;
    clear:left;
    float: left;
    position: absolute;
    /* margin-left:10px; */
}
.deposit_button img{
    height: auto;
    width: 140px;
}
.withdrow_button{
    /* background-image: url('/assets/images/content/WITHDRAW.png'); */
    /* background-repeat: no-repeat;
    background-size: 100% 100%; */
    height: auto;
    width: 140px;
    float: left;
    right:15px;
    position: absolute;
}
.withdrow_button img{
    height: auto;
    width: 140px;
}

.text_howtoplay{
    color: white;
    font-size:1.5em;
    margin-left:15px;
    margin-right:15px;
    margin-top:15px;
    border-bottom: 3px solid #1D1D1D;
}
.image_howtoplay{
    width: 100%;
    padding: 0px 15px 0 15px;
    min-height: 100px;
    display: none;
}
.login_area{
    width:100%;
    margin-bottom: 15px;
    float: left;
}

.login_btn{
    background-color: #FD8F00;
    color:white;
    width: 140px;
    text-align: center;
    border-radius: 5px;
    font-size: 1.2em;
    margin-left:15px;
    margin-top:15px;
    margin-bottom: 15px;
}

.input-text{
    margin-top:15px;
    margin-left:15px;
    width: calc( 100% - 30px);
}

.no-padding{
    padding:unset;
    flex-grow: unset;
    flex-basis:unset;
}

.sport_button{
    margin-top:25px;
    padding-left:15px;
    padding-right: 15px;
}

.sport_img img{
    width: 100%;
    margin-bottom: 10px;
}
.casino_img img{
    width: 100%;
    margin-bottom: 10px;
 }
 .live_img img{
    width: 100%;
 }

.divMainContent{
    overflow: hidden;
    height: auto;
    margin-top:15px;
}

.h1text{
    font-size: 1.2em;
    color: #F3D800;
}
.detailRight{
    border-top: 3px solid #1D1D1D;
    float: left;
    width: calc( 100% - 30px);
    color:white;
    text-align: center;
    margin-left:15px;
}
.detailLeft{

    margin-left:15px;
    width: calc( 100% - 30px);
    margin-top:15px;
    float: left;
}
.howtoplay_casino_img img{
    width: 100%;
}
.howtoplay_football_img img{
    margin-top:15px;
    width: 100%;
}
.banking_area{
    display: none !important;
}

@media screen and (min-width: 375px) {
    .register_button{
        height: auto;
        width:326px;
        margin-left:10px;
    }

    .deposit_button{
        height: 160px;
        width: 153px;
        margin-left:10px;
    }
    .withdrow_button{
        height: 160px;
        width: 153px;
        margin-right:0px;
    }
    .howtoplay_casino_img img{
        width: 332px;
        margin-left:5px;
    }
    .howtoplay_football_img img{
        width: 332px;
        margin-left:5px;
    }
    
    
}

@media screen and (min-width: 425px) {
    .register_button{
        height: auto;
        margin-left:35px;
    }
    .howtoplay_casino_img img{
        margin-left: calc( 50% - 166px);
    }
    .howtoplay_football_img img{
        margin-left: calc( 50% - 166px);
    }
    .slide_and_btn .col-4{
        height: 300px;
    }
}

@media screen and (min-width: 500px) {
    .register_button{
        height: auto;
        margin-left: calc( 50% - 160px);
    }
    .deposit_button{
        height: auto;
        width: 220px;
        margin-left:0px;
        margin-left: calc( 50% - 174px);
    }
    .withdrow_button{
        height: auto;
        width: 220px;
        margin-left:0px;
        margin-right: calc( 50% - 260px);
    }
    .slide_and_btn .col-4{
        height: 300px;
    }
}

@media screen and (min-width: 540px) {
    .register_button{
        height: auto;
    }
    .deposit_button{
        height: auto;
        width: 141px;
        margin-left: calc( 50% - 174px);
    }
    .withdrow_button{
        height: auto;
        width: 141px;
        margin-right: calc( 50% - 184px);
    }
    .slide_and_btn .col-4{
        height: 300px;
    }
}

@media screen and (min-width: 580px) {
    .register_button{
       width: 300px;
       height: auto;
       margin-bottom:0px;
    }
    
    .deposit_button{
        height: auto;
        width: 141px;
        margin-top:15px;
        margin-left: calc( 50% - 174px);
    }
    .withdrow_button{
        height: auto;
        width: 141px;
        margin-top:15px;
        margin-right: calc( 50% - 156px);
    }
    .slide_and_btn .col-4{
        height: 300px;
    }
}

@media screen and (min-width: 640px) {
    .image_howtoplay{
        padding:unset;
        display: block;
    }
    .text_howtoplay{
        margin-left: 0px;
        margin-right: 0px;
    }
    .login_area{
        margin-left: -15px;
    }
    .container{
        /* max-width: unset; */
        max-width: 640px;
    }
    .home_slide{
        padding-left:30px;
        padding-right: 30px;
        padding-top:15px;
    }
    .home_slide .row {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
         margin-right: -15px;
         margin-left: -15px;
         width: unset;
    }
    .register_button{
        width: 194px;
        margin-top: 0px;
        height: 71px;
        margin-left:0px;
        float: unset;
    }
    .deposit_button{
        height: auto;
        width: 95px;
        margin-left:0px;
        float: unset;
        position: absolute;
    }
    .deposit_button img{
        height: auto;
        width: 95px;
    }
    .withdrow_button{
        height: auto;
        width: 95px;
        margin-left:10px;
        float: unset;
        position: absolute;
        right: 8px;
        left: 90px;
    }
    .withdrow_button img{
        height: auto;
        width: 95px;
    }
    .slide_and_btn .col-8{
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        /* padding:unset;  */
    }
    .slide_and_btn .col-4{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        height: auto;
        padding:unset;
        /* padding:unset;  */
    }
}

@media screen and (min-width: 768px) {
    .detailRight{
        float: right;
        width: calc( 100% - 352px) ;
        padding-top:30px;
        text-align: left;
        font-weight: 100;
        margin-left: 0px;
    }
    .detailLeft{
        float: left;
        width: 332px;
        margin-top: 0px;
        margin-left: 0px;
        
    }
    .banking_area{
        display: block !important;
    }
    .banking_img{
        margin-top:10px;
    }
    .banking_img img{
        width:100%;
    }
    .howtoplay_casino_img{
        /* float: left; */
    }
    .howtoplay_football_img{
        /* margin-top:10px; */
        /* float: left; */
    }


    .no-padding{
        flex-basis:0;
        flex-grow: 1;
    }
    .login_btn{
        background-color: #FD8F00;
        color:white;
        width: 140px;
        text-align: center;
        border-radius: 5px;
        font-size: 1.2em;
        margin-left:15px;
        margin-top:15px;
        margin-bottom: 0px;
        float: left;
        height: 38px;
        padding-top:6px;
    }
    
    .input-text{
        margin-top:15px;
        margin-left:15px;
        width: 250px;
        float: left;
    }


    .container{
        /* max-width: unset; */
        max-width: 768px;
    }
  
    .register_button{
        width: 230px;
        margin-top:0px;
        height: 85px;
        margin-left:0px;
        float: unset;
    }
    .deposit_button{
        height: auto;
        width: 110px;
        margin-left:0px;
        float: unset;
        position: absolute;
    }
    .deposit_button img{
        width: 110px;
    }
    .withdrow_button{
        height: auto;
        width: 110px;
        margin-left:0px;
        float: unset;
        position: absolute;
        right: 48px;
        left: unset;
    }
    .withdrow_button img{
        width: 110px;
    }
    .slide_and_btn .col-8{
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        /* padding:unset;  */
    }
    .slide_and_btn .col-4{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        height: auto;
        padding:unset;
        /* padding:unset;  */
    }
}
@media (min-width: 992px){
    .text_howtoplay{
        margin-left:0px;
    }

    .login_btn{
        width: 240px;
    }
   
    .input-text{
        margin-top:15px;
        margin-left:15px;
        width: 300px;
        float: left;
    }




    .register_button{
        width: 300px;
        margin-top:0px;
        height: 120px;
        margin-left:0px;
        float: unset;
    }
    .deposit_button{
        height: auto;
        width: 130px;
        margin-left:0px;
        float: unset;
        position: absolute;
        margin-top: 0px;
    }
    .deposit_button img{
        height: auto;
        width: 130px;
    }
    .withdrow_button{
        height: auto;
        width: 130px;
        margin-left:0px;
        float: unset;
        position: absolute;
        margin-top: 0px;
        right: 10px;
    }
    .withdrow_button img{
        height: auto;
        width: 130px;
    }
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1000px) {
    .h1text{
        font-size: 2.2em;
    }
    .detailRight{
        font-size: 1.2em;
    }
    .register_button{
        width: 300px;
        margin-top:0px;
        height: 120px;
        margin-left:0px;
        float: unset;
    }
    .deposit_button{
        height: 130px;
        width: 130px;
        margin-left:0px;
        float: unset;
        position: absolute;
        margin-top: 0px;
    }
    .withdrow_button{
        height: 130px;
        width: 130px;
        margin-left:0px;
        float: unset;
        position: absolute;
        margin-top: 0px;
        right: 16px;
    }
    
    .container {
        max-width: 960px;
    }
    
    .home_slide .row {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
         margin-right: -15px;
         margin-left: -15px;
         width: unset;
    }
    .slide_and_btn{
        padding-top:15px;
        padding-left:15px;
        padding-bottom: 15px;
        padding-right: 15px;
    }
    .callcenter{
        height: 350px;
    }
    .contentArea{
      margin-top:0px;
    }
    .contentArea{
        border: 1px solid #D10000;
    }
    .img_bank{
        float: left;
        margin-left:40px;
        width: 428px;
    }
    .area_text_bank{
        margin-left:80px;
    }
    .text_description_green2{
        font-size: 1.5em;
    }
    .area_line{
        float: left;
        margin-left: 120px;
        width: 100%;
    }
    
   }
   
   
@media screen and (min-width: 1200px) {
    .deposit_button img{
        height: auto;
        width: 154px;
    }
    .withdrow_button img{
        height: auto;
        width: 154px;
    }
    .h1text{
        font-size: 2em;
    }
    .detailRight{
        font-size: 1.4em;
    }
    .login_btn{
        width: 320px;
    }
    .sport_img img{
        width: 322px;
    }
    
    .casino_img img{
        width: 322px;
        margin-left: 3px;
    }
     .live_img img{
         width: 322px;
         margin-left: 6px;
         /* float: right; */
     }
   
    .input-text{
        margin-top:15px;
        margin-left:15px;
        width: 308px;
        float: left;
    }
    .register_button{
        /* width: 355px; */
        width: 326px;
        margin-top:0px;
        height: 130px;
        margin-left:0px;
        float: unset;
    }
    .deposit_button{
        height: 150px;
        width: 150px;
        margin-left:0px;
        float: unset;
        position: absolute;
        margin-top: 0px;
    }
    .withdrow_button{
        height: 150px;
        width: 150px;
        margin-left:0px;
        float: unset;
        position: absolute;
        margin-top: 0px;
        right: 2px;
    }

    .container{
        max-width: 1050px;
    }
    .home_slide{
        padding-left:30px;
        padding-right: 30px;
        /* height: 430px; */
    }
    .contentHeader{
        margin-top:0px;
    }
    .text_description_green2{
        margin-top:30px;
        font-size: 2.5em;
    }
}
@media screen and (min-width: 1400px) {
    .home_slide{
        /* height: 430px; */
    }
}

@media screen and (min-width: 1600px) {
    .home_slide{
        border-left: 3px solid #1D1D1D;
        border-right: 3px solid #1D1D1D;
        border-bottom: 3px solid #1D1D1D;
    }
}