/* You can add global styles to this file, and also import other style files */
body{
  font-family: "Kanit", "Zawgyi-One", "Tahoma", sans-serif;
}
.slick-slider {  
  width: 100%;  
  margin: auto; 
  float: left; 
} 
body {
  width:100%;        
  min-width:320px;
}
.text_gold_menu{
  color: #CBA95E;
}

.icon_menu{
  float: left;
  padding-bottom: 30px;
  width: 100%;
  margin-left: 0px;
}



@keyframes walk-cyclet2 {
  0% {background-color: #D61A1B;}
  100% {background-color: #000;}
  /* Must be full height of sprite or skipping will happen.*/
}

.register_button:hover{
  cursor: pointer;
}
.deposit_button:hover{
  cursor: pointer;
}
.withdrow_button:hover{
  cursor: pointer;
}


.login_btn{
  animation: walk-cyclet2 0.5s steps(5) infinite;
  -webkit-animation: walk-cyclet2 0.5s steps(5) infinite;
}
.login_btn:hover{
  cursor: pointer;
}

.hot_promotion{
  animation: walk-cyclet2 0.5s steps(5) infinite;
  -webkit-animation: walk-cyclet2 0.5s steps(5) infinite;
}

.sport_img:hover{
  cursor: pointer;
}

.casino_img:hover{
  cursor: pointer;
}

.live_img:hover{
  cursor: pointer;
}


.banner_hover {overflow: hidden;}
.register  {min-height: 300px;background-color: #08111B;margin: 0px 0px 15px 0px;padding: 5px;}
.tt_fb  {min-height: 100px;margin: 0px 0px 15px 0px;}
.tt_col {width:48.8%;margin: 0px 0px 15px 0px;}
.banner_stb  {margin: 0px 0px 15px 0px;background-color: #08111B;position: relative;}
.tt_text {margin: 0px 0px 15px 0px;border: 1px solid #BFC0C4;padding: 15px;background-color: #08111B;}
.right_ct .banner_hover {border: 1px solid #BFC0C4;}
.banner_hover  .tt_img_hover { position:absolute;left: -100%;top: 0px;opacity:0;}
.banner_hover:hover  .tt_img_hover{left: 0px;opacity:1;-webkit-filter: grayscale(100%);filter: grayscale(100%);}
.menu_list ul li a,
.banner_hover  .tt_img_hover,
.banner_hover {-webkit-transition: all .3s ease-in-out 0s;  -o-transition: all .3s ease-in-out 0s; -moz-transition: all .3s ease-in-out 0s; transition: all .3s ease-in-out 0s;}
.banner_hover.eff2 {position: relative;overflow: hidden;}



.banner_hover  .tt_img_hover,
.banner_hover {-webkit-transition: all .3s ease-in-out 0s;  -o-transition: all .3s ease-in-out 0s; -moz-transition: all .3s ease-in-out 0s; transition: all .3s ease-in-out 0s;}

.qr-popup{
  background-image: url(/assets/images/icon/popup.jpg);
  background-size: 100%;
  position: absolute;
  width:200px;
  height: 240px;
  top:450px;
  right: 50px;
  z-index: 9;
}
.close-qr{
  position: absolute;
  width: 18px;
  height: 18px;
  right: 0px;
  top:0px;
  display: none;
}
.close-qr:hover{
  cursor: pointer;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  display: none;
}
.ng-image-slider .container{
  /* margin-left:-20px;
  margin-right: 0px; */
}
.topArea .container{
  background-color: unset;
  height: 100px;
}
.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  background-color:#000000;
  overflow: hidden;
  padding-bottom: 80px;
}
.content{
  width: 100%;
}
.contentPageArea{
  overflow: hidden;
  height: auto;
  /* border: 1px solid #D10000; */
  color:white;
  padding:30px;
}
.headTitle{
  border-left: 2px solid #E6ED6D;
  border-bottom: 2px solid #E6ED6D;
  border-right: 2px solid #E6ED6D;
  width: 250px;
  height: 50px;
  margin: auto;
  padding: 10px;
  color:white;
  text-align: center;
}


.adsAreaDiv{
  width: 100%;
}
.bg-img
{
  background-image: url(/assets/images/content/bg.jpg);
  background-size: cover;
  position: absolute;
  float: left;
  width: 100%;
    
}

.topArea{
  background-image: url('/assets/images/header/header.jpg');
  background-size: 100% 115px;
  background-repeat: no-repeat;
  width: 100%;
  height: 115px;
  position: relative;
  padding-top:2px;
  padding-left:40px;
  float: left;
  clear: left;
}

.logo{
  background-image: url('/assets/images/logo/logo.png');
  background-size: 240px auto;
  background-repeat: no-repeat;
  width: 260px;
  height: 120px;
  float: left;
}

.logo_footer{
  background-image: url('/assets/images/logo/logo.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 280px;
  height: 120px;
  float: left;
  margin-top: 15px;
  margin-left: 10px;
}
.area_social{
  clear:left;
}
.line-area{
  clear: right;
  position: relative;
  float: right;
  width: 350px;
  height: 106px;
  display: none;
}
.line-icon{
  background-image: url('/assets/images/header/line1.png');
  background-size: auto auto;
  background-repeat: no-repeat;
  width: 40px;
  height: 41px;
  position: absolute;
  right: 210px;
  top: 50%;
  margin-top: -20px;
}

.line-text {
  font-size: 1.2em;
  float: left;
  position: relative;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 20px;
  color: #CBA95E;
  right: 10px;
  font-weight: 300;
  font-family: "Kanit", "Zawgyi-One", "Tahoma", sans-serif;
}
.slideshow-container{
  min-height: 150px !important;
}
.line-text_top{
  font-size: 2em;
  float: left;
  position: relative;
  top: 50px;
  margin-top: -10px;
  color: white;
  font-weight: 100; 
  font-family: "Kanit", "Zawgyi-One", "Tahoma", sans-serif;
}
.tel-icon{
  top:25px;
  right: 210px;
  background-image: url('/assets/images/header/tel1.png');
  background-size: auto auto;
  background-repeat: no-repeat;
  width: 40px;
  height: 41px;
  position: absolute;
  margin-top: -20px;
}
.tel-text{
  top:20px;
  position: absolute;
  font-size: 1em;
  margin-top: -10px;
  color:white;
  font-weight: 400; 
  font-family: "Kanit", "Zawgyi-One", "Tahoma", sans-serif;
}
.qr-area{
  background-image: url('/assets/images/icon/qr.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  float: right;
  position: relative;
  top: 50%;
  margin-top: -50px;
  margin-right:15px;
}


.jumbotron{
    padding-top:0px;
    padding-left:0px;
    padding-right:0px;
    border-radius: 0px;
    background-color: #1E1E1E;
}

/* .topnav {
    width: 100%;
    overflow: hidden;
    background-color:yellow;
    padding-bottom: 1px;
    background: linear-gradient(to right, #AE7308, #E6ED6D 50%, #AE7308 100%);
    padding-bottom: 0px;
    background-repeat: no-repeat;
    min-height: 50px;
    max-height: 60px;
  } */

  .topnav {
    width: 100%;
    position: relative;
    /* position: absolute;
    z-index: 10;
    top: 115px; */
    overflow: hidden;
    /* background-color:yellow; */
    padding-bottom: 1px;
    /* background: linear-gradient(to right, #AE7308, #E6ED6D 50%, #AE7308 100%); */
    padding-bottom: 0px;
    background-repeat: no-repeat;
    /* border-bottom: 3px solid #1D1D1D; */
    /* border-bottom: 2px solid #A59545; */
  } 
 
  .banner {
    background-image: url('/assets/images/content/4.jpg');
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-size: contain;
  }
  .responsive {
    width: 100%;
    /* max-width: 500px; */
    height: auto;
  }
  .adsTop {
    float: left;
    /* background-image: url('/assets/images/ads/6.jpg');
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-size: contain; */
  }

  .adsBottom {
    float: left;
    /* background-image: url('/assets/images/ads/7.jpg');
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-size: contain; */
  }
  .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xs, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xs, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-md-3 {
    float: left;
    width: 25%;
  }
  .col-xs-3 {
    float: left;
    width: 25%;
  }
  .col-xs-4 {
    float: left;
    width: 33.333333%;
  }
  .col-xs-5 {
    float: left;
    width: 41.666667%;
  }
  .col-xs-6 {
    float: left;
    width: 50%;
  }
  .col-md-4{
    float:left !important;
    width:33.3333333% !important;
  }
  .col-xs-12 {
    float: left;
    width: 100%;
  }
  .col-sm-12 {
    float: left;
    width: 100%;
  }
  
  @media screen and (min-width:300px) and (max-width:500px) {
    .banner {
      width: 100%;
      height: 200px;
    }
    
    
  }
  
  
  /* .banner{
      background-image: url('/assets/images/content/4.jpg');
      background-repeat:no-repeat;
      background-repeat:no-repeat;
      background-size:100% 100%;
      background-position:center;
      
  } */
  /* .topnav a:first-child::before{
    background-image: url('/assets/images/nav/left.png');
    background-size: 50px 50px;
  } */

  .topnav a {
    background: #EEC823; 
    background: -webkit-linear-gradient(#EEC823, #F0E343, #ECAC00); 
    background: -o-linear-gradient(#EEC823, #F0E343, #ECAC00); 
    background: -moz-linear-gradient(#EEC823, #F0E343, #ECAC00); 
    background: linear-gradient(#EEC823, #F0E343, #ECAC00); 



    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 14px;
    /* background: #D10000; */
    width: calc( 100%  );
  }
  .topnav a:first-child{
    border-radius: 0 0 0px 15px;
  }
  .topnav a:nth-last-child(2){
    border-radius: 0 0 15px 0px;
  }
  .topnav a:first-child{
   border-left:unset;
   width: calc( 100% - 56px );
  }
  .topnav a:nth-last-child(2){
    float: right !important;
   }
   .topnav a:last-child{
    width: 56px;
    height: 53px;
   }
   
  
  .topnav a:hover {
    /* background-color: #ddd; */
    color: white;
  }
  
  
  .active {
    /* background-color: #1A1919;
    color: white; */
  }
  
  .topnav .icon {
    display: none;
  }
  
  .newsArea:hover{
    cursor: pointer;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  .register_btn{
    /* background-image: url(/assets/images/content/login.png); */
    width:200px;
    height: 38px;
    float: right;
    background-repeat: no-repeat;
    color:white;
    font-size: 1.8em;
    background:#FDA500;
    border-radius: 12px;
    text-align: center;
}

  @media screen and (min-width: 500px) {
    .ng-image-slider .container .main {
      position: relative !important;
  }
    .adsAreaDiv{
      margin-left: 10px;
      margin: auto;
      width: 100%;
      margin-top:10px;
      float:left;
    }
    .adsTop{
      float: left;
          clear: left;
    }
    .adsBottom{
      margin-top: 10px;
      float: left;
      clear: left;
    }
    
  }
  @media (min-width: 576px){
    .container {
      /* max-width: 540px; */
      max-width: unset;
    }
  }
  @media screen and (min-width: 640px) {
    .slideshow-container {
        min-height: 182px !important;
    }
  }
  
  
  @media screen and (min-width: 700px) {
    .topnav.responsive{
      max-width: unset;
    }
    .topnav .container{
      max-width: unset;
    }
    .slideshow-container{
      min-height: 182px !important;
    }
  }

  @media screen and (min-width: 767px) {
    .container {
      padding-bottom: 10px;
    }
    .slideshow-container{
      min-height: 212px !important;
    }
    .line-area{
      display: block;
      width: 446px;
      font-size: 12px;
      height: 70px;
    }
    .line-text_top {
      font-size: 1.5em;
    }
    .register_btn{
      width: 140px;
      height: 28px;
      font-size: 1.5em;
      position: absolute;
      right: 115px;
      bottom: 4px;
    }
    .container {
        max-width: 720px;
    }
  }

  @media screen and (min-width: 770px) {

    .ng-image-slider .container .main {
        position: relative !important;
    }
    .banner{
      margin-top:40px;
    }
    .topArea{
      padding-top:10px;
      padding-left:30px;
    }
    .ng-image-slider .container .main {
    overflow: hidden;
    position: relative;
    height: 200px;
    width: 100%;
}
    .logo{
      background-size: 100% auto;
      width: 240px;
      height: 100px;
      float: left;
    }
    .logo_footer{
      background-size: 100% auto;
      width: 280px;
      height: 110px;
      float: left;
    }
    .area_social{
      clear:left;
    }
    .qr_footer{
      
    }
    .line-text {
      font-size: 1.5em;
      margin-top:20px;
    }
    
  }

  @media (min-width: 992px){
    .slideshow-container{
      min-height: 252px !important;
    }
    .container {
        max-width: 960px;
    }
  }
  
  @media screen and (min-width: 1000px) {
    .slideshow-container{
      min-height: 252px !important;
    }
    .line-area {
      width: 530px;
      font-size: 1em;
      height: 110px;
    }
    .register_btn{
        width: 200px;
        height: 38px;
        float: right;
        background-repeat: no-repeat;
        color: white;
        font-size: 1.8em;
        background: #FDA500;
        border-radius: 12px;
        text-align: center;
    }
    .line-text_top {
      font-size: 2em;
    }
    .register_btn{
        position: absolute;
        right: 10px;
        bottom: 25px;
        line-height: 1.3;
    }
  }
  
  @media screen and (min-width: 1100px) {
    .slideshow-container{
      min-height: 260px  !important;
    }
    .ng-image-slider .container {
        max-width: unset;
    }

    .topnav {
      padding-bottom: 0px;
    }
    .topnav a {
      width: calc( 100%/7 );
    }
    .topnav a:first-child{
      width: calc( 100%/7 );
      border-radius: 0 0 0px 15px;
     }
    .topnav a {
      width: calc( 100%/7 );
      /* border-left:2px solid #FF0B0B; */
    }
    .line-area{
      width: 630px;
    }

    .qr-area{
     
      width: 140px;
      height: 140px;
      margin-top: -70px;
    }
    .contentArea{
      float: left;
      width: calc( 100% - 458px );
    }
    .adsAreaDiv{
      float: right;
      width: 448px;
      margin-left: 10px;
      margin-top:0px;
      float: right;
    }
    .adsTop{
      float: right;
    }
    .adsBottom{
      margin-top: 10px;
      float: right;
      
    }
    

  }

  @media screen and (min-width: 1101px) {
    .topnav {
      position: absolute;
      z-index: 10;
      top: 115px;
     
    } 
    .container.container_a{
      padding-top: 50px;
    }
    

  }
  

  @media screen and (max-width: 1100px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    
  }
  
  @media screen and (max-width: 1100px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      /* background-image: url('/assets/images/nav/1.jpg'); */
    }
    .topnav.responsive a:last-child {
      text-align: center;
    }
  }


  @media screen and (min-width: 375px) {

  }

  @media screen and (min-width: 425px) {

  }
  @media screen and (min-width: 500px) {
    .slideshow-container {
        min-height: 265px !important;
    }
  }

  @media screen and (min-width: 540px) {

  }
  @media screen and (min-width: 580px) {
    .slideshow-container {
        min-height: 265px !important;
    }
  }

  @media screen and (min-width: 640px) {
    .slideshow-container {
        min-height: 184px !important;
    }
  }
  @media screen and (min-width: 768px) {
    .slideshow-container {
        min-height: 260px !important;
    }
  }


  
@media screen and (min-width: 1100px) {
  .icon_menu{
      width: 50%;
  }
  .cal_4{ width: calc( 100%/4 )!important;}
  .cal_5{ width: calc( 100%/5 )!important;}
  .cal_6{ width: calc( 100%/6 )!important;}
  
  .cal_7{ width: calc( 100%/7 )!important;}
  .cal_8{ width: calc( 100%/8 )!important;}
  .cal_9{ width: calc( 100%/9 )!important;}
  .cal_10{ width: calc( 100%/10 )!important;}
  .cal_11{ width: calc( 100%/11 )!important;}
  .cal_12{ width: calc( 100%/12 )!important;}
  .topnav .container{
    max-width: 1140px;
  }
}

@media screen and (min-width: 1200px) {
  .slideshow-container{
    min-height: 500px  !important;
    top: 0px;
  }
  .topnav a {
    background: unset; 
  }
  .container {
      max-width: 1140px;
  }
}


@media screen and (min-width: 1500px) {
  .topnav a {
    font-size: 1em;
    font-weight: 100;
  }
}

@media screen and (min-width: 1900px) {
  .topnav a {
    background: unset; 
  }
  .topnav a:first-child{
    border-radius: 0 0 0px 0px;
  }
  .topnav a:nth-last-child(2){
    border-radius: 0 0 0px 0px;
  }
}


html, body { height: 100%; }
body { margin: 0; 
  /* font-family: Roboto, "Helvetica Neue", sans-serif;  */
}
